<p id="notice"><%= notice %></p>

<h1>Listing Games</h1>

<%= form_tag games_path, class: "form-inline", :method => "get" do %>
  <script>
    .form-group
  </script>
  <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Game Name" %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
  <%= link_to "Clear", games_path, class: "btn btn-primary" if params[:query].present? %>
<%end%>
